<html>

<head>
    <title>Angular Bare</title>
    <script src="angular-1.4.8.min.js"></script>
    <script src="angular-messages.min.js"></script>
    <script src="app.js"></script>
    <meta name="viewport" content="width=device-width initial-scale=1">
    <style>
        .error {
            color: red;
        }
    </style>
</head>

<body>
    <div ng-app="app" ng-controller="appController">
        <div ng-show="showCreateAccountForm">
            <form name="createAccountForm">
                <header>
                    <h2>CREATE ACCOUNT</h2>
                    <p>This is step 1</p>
                </header>

                <div>
                    <input name="email" 
                           type="email" 
                           ng-model="account.email" 
                           placeholder="Email" 
                           autocomplete="email username"
                           required/>
                    <div ng-messages="createAccountForm.email.$error" 
                         ng-show="createAccountForm.email.$touched || createAccountForm.email.$dirty"
                         role="alert"
                         class="error">
                        <div ng-message="required">
                            Email is required
                        </div>
                        <div ng-message="email">
                            Please enter a valid email
                        </div>
                    </div>       
                    <input name="password"
                           type="password" 
                           ng-model="account.password" 
                           placeholder="Password" 
                           ng-change="matchPasswords()" 
                           ng-minlength="8"
                           autocomplete="new-password"
                           required/>
                    <div ng-messages="createAccountForm.password.$error" 
                         ng-show="createAccountForm.password.$touched || createAccountForm.password.$dirty"
                         role="alert"
                         class="error">
                        <div ng-message="required">
                            Password is required
                        </div>
                        <div ng-message="minlength">
                            Password should be atleast 8 characters long
                        </div>
                    </div>
                    <input name="confirmPassword" 
                           type="password"
                           ng-model="account.confirmPassword" 
                           placeholder="Confirm Password" 
                           ng-change="matchPasswords()" 
                           autocomplete="new-password"
                           required/>
                    <div ng-messages="createAccountForm.confirmPassword.$error" 
                         ng-show="createAccountForm.confirmPassword.$touched || createAccountForm.confirmPassword.$dirty"
                         role="alert"
                         class="error">
                        <div ng-message="required">
                            Please confirm your password
                        </div>
                        <div ng-message="doNotMatch">
                            Passwords do not match
                        </div>
                    </div>
                </div>

                <div>
                    <button ng-click="goto('SOCIAL_MEDIA')" type="submit">
                        <!-- ng-disabled="createAccountForm.$invalid"  -->
                        Next
                    </button>
                </div>
            </form>
        </div>

        <div ng-show="showSocialProfilesForm">
            <form name="socialProfilesForm">
            <header>
                <h2>SOCIAL PROFILES</h2>
                <p>Your presence on the social network</p>
            </header>

            <div>
                <input name="twitter" 
                       type="text"
                       ng-model="social.twitter" 
                       placeholder="Twitter" />
                <input name="facebook" 
                       type="text"
                       ng-model="social.facebook" 
                       placeholder="Facebook" />
                <input name="googlePlus"
                       type="text"
                       ng-model="social.googlePlus" 
                       placeholder="Google Plus" />
            </div>

            <div>
                <button ng-click="goto('CREATE_ACCOUNT')">
                    Previous
                </button>

                <button ng-click="goto('PERSONAL_DETAILS')">
                    Next
                </button>
            </div>
            </form>
        </div>

        <div ng-show="showPersonalDetailsForm">
            <form name="personalDetailsForm">
                <header>
                    <h2>PERSONAL DETAILS</h2>
                    <p>We will never sell it</p>
                </header>

                <div>
                    <input name="firstName"
                           type="text"
                           ng-model="personalDetails.firstName" 
                           placeholder="First Name" 
                           required/>
                    <div ng-messages="personalDetailsForm.firstName.$error"
                         ng-show="personalDetailsForm.firstName.$touched || personalDetailsForm.firstName.$dirty"
                         role="alert"
                         class="error">
                        <div ng-message="required">
                            First name is required
                        </div>
                    </div>
                    <input name="lastName"
                           type="text"
                           ng-model="personalDetails.lastName" 
                           placeholder="Last Name" />
                    <input name="phone"
                           type="number"
                           ng-model="personalDetails.phone" 
                           ng-pattern="/^[0-9]{10}$/"
                           placeholder="Phone" 
                           required/>
                    <div ng-messages="personalDetailsForm.phone.$error"
                         ng-show="personalDetailsForm.phone.$touched"
                         role="alert"
                         class="error">
                        <div ng-message="required">
                            Phone number is required
                        </div>
                        <div ng-message="pattern">
                            Please enter a 10 digit phone number
                        </div>
                    </div>
                    <textarea name="address"
                              type="text"
                              ng-model="personalDetails.address" 
                              placeholder="Address" 
                              id="address" 
                              cols="30" 
                              rows="3">
                    </textarea>

                </div>

                <div>
                    <button ng-click="goto('SOCIAL_MEDIA')">
                        Previous
                    </button>

                    <button ng-click="goto('SUBMIT')" ng-disabled="showPersonalDetailsForm.$invalid">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>