<html>

<head>
    <title>Multi steps form</title>
    <script src="./libs/angular-1.4.8.min.js"></script>
    <script src="./libs/angular-messages.min.js"></script>
    <script src="app.js"></script>
    <meta name="viewport" content="width=device-width initial-scale=1">
    <link rel="stylesheet" href="./styles/styles.css">
</head>

<body>
    <div id="app" class="container" ng-app="app" ng-controller="appController">
        <div ng-show="showCreateAccountForm">
            <form name="createAccountForm">
                <header>
                    <h2 class="container__title">CREATE ACCOUNT</h2>
                    <h3 class="container__subtitle">This is step 1</h3>
                </header>

                <div>
                    <input name="email" 
                           type="email" 
                           class="container__input"
                           ng-model="account.email" 
                           placeholder="Email" 
                           autocomplete="email username"
                           required/>
                    <div ng-messages="createAccountForm.email.$error" 
                         ng-show="createAccountForm.email.$touched || createAccountForm.email.$dirty"
                         role="alert"
                         class="error">
                        <div ng-message="required" class="error__message">
                            Email is required
                        </div>
                        <div ng-message="email" class="error__message">
                            Please enter a valid email
                        </div>
                    </div>       
                    <input name="password"
                           type="password" 
                           class="container__input"
                           ng-model="account.password" 
                           placeholder="Password" 
                           ng-change="matchPasswords()" 
                           ng-minlength="8"
                           autocomplete="new-password"
                           required/>
                    <div ng-messages="createAccountForm.password.$error" 
                         ng-show="createAccountForm.password.$touched || createAccountForm.password.$dirty"
                         role="alert"
                         class="error">
                        <div ng-message="required" class="error__message">
                            Password is required
                        </div>
                        <div ng-message="minlength" class="error__message">
                            Password should be atleast 8 characters long
                        </div>
                    </div>
                    <input name="confirmPassword" 
                           type="password"
                           class="container__input"
                           ng-model="account.confirmPassword" 
                           placeholder="Confirm Password" 
                           ng-change="matchPasswords()" 
                           autocomplete="new-password"
                           required/>
                    <div ng-messages="createAccountForm.confirmPassword.$error" 
                         ng-show="createAccountForm.confirmPassword.$touched || createAccountForm.confirmPassword.$dirty"
                         role="alert"
                         class="error">
                        <div ng-message="required" class="error__message">
                            Please confirm your password
                        </div>
                        <div ng-message="doNotMatch" class="error__message">
                            Passwords do not match
                        </div>
                    </div>
                </div>

                <div class="container__button-group">
                    <button ng-click="goto('SOCIAL_MEDIA')" 
                            ng-disabled="createAccountForm.$invalid"
                            class="container__button">
                        Next
                    </button>
                </div>
            </form>
        </div>

        <div ng-show="showSocialProfilesForm">
            <form name="socialProfilesForm">
            <header>
                <h2 class="container__title">SOCIAL PROFILES</h2>
                <p class="container__subtitle">Your presence on the social network</p>
            </header>

            <div>
                <input name="twitter" 
                       type="text"
                       class="container__input"
                       ng-model="social.twitter" 
                       placeholder="Twitter" />
                <input name="facebook" 
                       type="text"
                       class="container__input"
                       ng-model="social.facebook" 
                       placeholder="Facebook" />
                <input name="googlePlus"
                       type="text"
                       class="container__input"
                       ng-model="social.googlePlus" 
                       placeholder="Google Plus" />
            </div>

            <div class="container__button-group">
                <button ng-click="goto('CREATE_ACCOUNT')"
                        class="container__button">
                    Previous
                </button>

                <button ng-click="goto('PERSONAL_DETAILS')"
                        class="container__button">
                    Next
                </button>
            </div>
            </form>
        </div>

        <div ng-show="showPersonalDetailsForm">
            <form name="personalDetailsForm">
                <header>
                    <h2 class="container__title">PERSONAL DETAILS</h2>
                    <p class="container__subtitle">We will never sell it</p>
                </header>

                <div>
                    <input name="firstName"
                           type="text"
                           class="container__input"
                           ng-model="personalDetails.firstName" 
                           placeholder="First Name" 
                           required/>
                    <div ng-messages="personalDetailsForm.firstName.$error"
                         ng-show="personalDetailsForm.firstName.$touched || personalDetailsForm.firstName.$dirty"
                         role="alert"
                         class="error">
                        <div ng-message="required" class="error__message">
                            First name is required
                        </div>
                    </div>
                    <input name="lastName"
                           type="text"
                           class="container__input"
                           ng-model="personalDetails.lastName" 
                           placeholder="Last Name" />
                    <input name="phone"
                           type="number"
                           class="container__input"
                           ng-model="personalDetails.phone" 
                           ng-pattern="/^[0-9]{10}$/"
                           placeholder="Phone" 
                           required/>
                    <div ng-messages="personalDetailsForm.phone.$error"
                         ng-show="personalDetailsForm.phone.$touched"
                         role="alert"
                         class="error">
                        <div ng-message="required" class="error__message">
                            Phone number is required
                        </div>
                        <div ng-message="pattern" class="error__message">
                            Please enter a 10 digit phone number
                        </div>
                    </div>
                    <textarea name="address"
                              type="text"
                              class="container__textarea"
                              ng-model="personalDetails.address" 
                              placeholder="Address" 
                              id="address" 
                              cols="30" 
                              rows="3">
                    </textarea>

                </div>

                <div class="container__button-group">
                    <button ng-click="goto('SOCIAL_MEDIA')"
                            class="container__button">
                        Previous
                    </button>

                    <button ng-click="goto('SUBMIT')" 
                            ng-disabled="showPersonalDetailsForm.$invalid"
                            class="container__button">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
